<div class="row">
	<div class="large-12 columns">
		<h1>{{shot.title}}</h1>
	</div>
</div>
<div class="row">
	<div class="large-6 columns" id="shot-info">
	</div>
	<div class="large-6 columns" id="shot-comments">
	</div>
</div>